body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #f6d365 0%, #0011ff 100%);
    animation: backgroundAnimation 15s ease infinite;
    z-index: -1;
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#food-icons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.food-icon {
    position: absolute;
    width: 50px; /* Taille des icônes de nourriture */
    height: 50px;
    transition: top 2s, left 2s; /* Transition douce pour les mouvements */
}

#main-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#main-menu button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background: rgba(0, 145, 255, 0.4);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background 0.3s;
}

#main-menu button:hover {
    transform: scale(1.1);
    background: #0026ff;
}

#main-menu button:active {
    transform: scale(0.95);
}

#username {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 300px;
    border-radius: 25px;
    border: none;
    text-align: center;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
}

#calorie-container, #jump-container {
    position: absolute;
    left: 10px;
    border: 2px solid #000;
    background-color: #ccc;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

#calorie-container {
    top: 10px;
}

#jump-container {
    top: 40px;
}

#calorie-bar {
    width: 100%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
}

#jump-bar {
    width: 0%;
    height: 100%;
    background-color: #2196F3;
    border-radius: 10px;
}

#score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

#game-over-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeIn 2s ease-out;
}

.hidden {
    display: none;
}

#input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px black;
    background-color: rgba(0, 255, 255, 0.9);
    border-radius: 20px;
    animation: fadeIn 2s ease-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.options {
    align-self: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.option-row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.option-row p {
    margin: 0;
}

.option-row input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
    text-align: center;
}

#updateKB, #return-button, #restart-button, #return-to-menu-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: rgba(0, 145, 255, 0.4);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background 0.3s;
}

#updateKB:hover, #return-button:hover, #restart-button:hover, #return-to-menu-button:hover {
    transform: scale(1.1);
    background: #0026ff;
}

#updateKB:active, #return-button:active, #restart-button:active, #return-to-menu-button:active {
    transform: scale(0.95);
}

#scoreboard {
    margin-top: 20px;
    text-align: left;
    animation: fadeIn 2s ease-out;
    position: relative;
}

#scoreboard h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #ff7e5f;
    text-shadow: 2px 2px 4px #000;
}

#scoreboard ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#scoreboard li {
    margin: 5px 0;
    padding: 5px 10px;
    background: rgba(14, 74, 119, 0.4);
    border-radius: 10px;
    font-size: 18px;
    color: #000000;
    transition: background 0.3s;
}

#scoreboard li:hover {
    background: rgba(0, 145, 255, 0.4);
}

#gif {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 9999; 
}

#scoreboard {
    margin-top: 20px;
    text-align: left;
    animation: fadeIn 2s ease-out;
    position: relative; 
}

#scoreboard-gif {
    position: absolute; 
    top: -50px; 
    left: 0;
    width: 50px; 
    height: auto; 
}

/* Style pour la fenêtre modale des crédits */
#credits-modal {
    display: none; /* Par défaut, la fenêtre modale est cachée */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

#credits-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-button:hover,
#close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content p {
    margin-bottom: 20px;
}

#close-credits-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: rgba(0, 145, 255, 0.4);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background 0.3s;
}

#close-credits-button:hover {
    transform: scale(1.1);
    background: #0026ff;
}

#close-credits-button:active {
    transform: scale(0.95);
}

.modal-content.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modal-content.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
